.btn {
  border-radius: 100px;
  padding: 17px 29px;
  width: fit-content;
  font-family: Effra;
  font-weight: bold;
  transition: transform 0.3s;
  color: $fontColorTitleWjite;

  &_orange {
    background-color: $orangeMain;
  }

  &_purple {
    background-color: $btnBackground;
  }

  &_white {
    background-color: $fontColorTitleWjite;
    color: $fontColorTitleBlack;
  }

  &:hover {
    transform: scale(1.05);
  }
}
