.footer {
  padding: 70px 0 73px;
  background-color: $cardBackground;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 234px 350px 233px 207px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(4, max-content);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(3, max-content);
      row-gap: 40px;
    }

    @include media-breakpoint-down(xs) {
      column-gap: 11px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    max-width: 124px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0.3px;
    gap: 60px;
    font-size: 12px;

    &__img {
      width: 85.5px;
      height: 99px;

      @include media-breakpoint-down(sm) {
        width: 42px;
        height: 50px;
      }

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__prod {
      opacity: 0.5;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .shop,
  .info,
  .contact {
    &__title {
      margin-top: 2px;
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 18px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 22px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      max-width: 140px;
      line-height: 21px;
      letter-spacing: 0.5px;
      opacity: 0.5;
      font-size: 14px;
      gap: 14px;

      @include media-breakpoint-down(md) {
        max-width: 110px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 140px;
      }

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }
    }

    &__lists {
      display: flex;
      max-width: 315px;
      gap: 45px;

      @include media-breakpoint-down(md) {
        gap: 10px;
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }
  }

  .shop {
    @include media-breakpoint-down(sm) {
      grid-column: 1 / 2;
    }
  }

  .info {
    &__list {
      max-width: 205px;

      @include media-breakpoint-down(md) {
        max-width: 150px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }

  .contact {
    @include media-breakpoint-down(sm) {
      grid-column: 1 / 3;
    }

    &__list {
      max-width: 250px;

      &-item {
        svg {
          width: 22px;
          height: 22px;
        }
      }
    }

    &__facebook,
    &__inst {
      display: flex;
      align-items: center;
      margin-top: 4px;
      gap: 12px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }
  }
}
