.skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, $disabled-btn, $border-color, $disabled-btn);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    z-index: 12;
  }
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}