<article class="feedback">
  <div class="feedback__slider">
    <div class="swiper-wrapper feedback__wrapper-slider">

      <div class="swiper-slide feedback__slide">
        <div class="feedback__info">
          <div class="feedback__grade">
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
          </div>

          <div class="feedback__title-feedback">Easy monitoring your weight goal!</div>

          <div class="feedback__text">Love Vitamins! The individual packets make it so easy to remember you daily
            vitamins and makes travelling easy!!! 👍🏽
          </div>
        </div>

        <div class="feedback__person-block">
          <picture>
            <source srcset="/src/img/home/avatar1.webp" type="image/webp">
            <img class="lazy" data-src="/src/img/home/avatar1.png" loading="lazy" alt="people" width="48px"
                 height="48px" />
          </picture>

          <div class="feedback__name">David S.</div>
        </div>
      </div>

      <div class="swiper-slide feedback__slide">
        <div class="feedback__info">
          <div class="feedback__grade">
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
          </div>

          <div class="feedback__title-feedback">High quality vitamins & supplements</div>

          <div class="feedback__text">High quality vitamins & supplements, very easy on my stomach too. Great service! I
            really like the flexibility and options available in the subscriptions.
          </div>
        </div>

        <div class="feedback__person-block">
          <picture>
            <source srcset="/src/img/home/avatar2.webp" type="image/webp">
            <img class="lazy" data-src="/src/img/home/avatar2.png" loading="lazy" alt="people" width="48px"
                 height="48px" />
          </picture>

          <div class="feedback__name">Bridget T.</div>
        </div>
      </div>

      <div class="swiper-slide feedback__slide">
        <div class="feedback__info">
          <div class="feedback__grade">
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
            <svg>
              <use href="#gold-star"></use>
            </svg>
          </div>

          <div class="feedback__title-feedback">I love it</div>

          <div class="feedback__text">I love it. It makes me feel good each morning and then it also makes me feel
            accomplished.
          </div>
        </div>
        <div class="feedback__person-block">
          <picture>
            <source srcset="/src/img/home/avatar3.webp" type="image/webp">
            <img class="lazy" data-src="/src/img/home/avatar3.png" loading="lazy" alt="people" width="48px"
                 height="48px" />
          </picture>

          <div class="feedback__name">Jenna Y.</div>
        </div>
      </div>

    </div>
  </div>
</article>
