<header class="header">
  <div class="header__container">
    <div class="header__content">
      <div class="burger__btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="index.html" class="header__logo">
        <svg>
          <use href="#vitamin-logo"></use>
        </svg>
      </a>

      <div class="header__btns header__btns_bag">
        <button  class="header__profile">
          <span class="header__user-name header__user-name_pc"></span>

          <svg>
            <use href="#profile"></use>
          </svg>
        </button>

        <a href="#" class="header__bag">
          <svg>
            <use href="#bag"></use>
          </svg>
        </a>

        <a href="quiz.html" class="header__take-quze btn btn_orange">Take the quiz</a>
      </div>

      <div class="header__menu burger__menu main">
        <span class="header__user-name header__user-name_mobile"></span>

        <div class="header__profile header__profile_adapt">
          <svg>
            <use href="#profile"></use>
          </svg>
        </div>

        <ul class="menu menu_main">
          <li class="menu__item menu__item_shop">
            <div class="menu__shop">Shop</div>

            <div class="menu__arrow">
              <svg>
                <use href="#next-arrow"></use>
              </svg>
            </div>
          </li>

          <li class="menu__item menu__item_info">
            <div class="menu__info">Information</div>

            <div class="menu__arrow">
              <svg>
                <use href="#next-arrow"></use>
              </svg>
            </div>
          </li>

          <li class="menu__item orrange">
            <a class="menu__quiz" href="quiz.html">
              Take the quiz
            </a>
          </li>
        </ul>

        <div class="header__support support">
          <a href="mailto:support@medstogo.com" class="support__mail">support@medstogo.com</a>

          <p class="support__prod">© 2020 Vitamins.com / All rights reserved</p>
        </div>
      </div>

      <div class="header__menu burger__menu profile">
        <div class="profile__title">
          <div class="back-btn">
            <svg>
              <use href="#back-arrow"></use>
            </svg>
          </div>

          <p>Profile</p>
        </div>

        <ul class="menu menu_profile">
          <li class="menu__item">
            <a href="/Vitamin/profile?part=subscriptions" class="menu__sub">
              Subscriptions
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/profile?part=orders" class="menu__orders">
              Orders
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/profile?part=overview" class="menu__acc-overwiew">
              Account Overview
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/profile?part=payment" class="menu__pay">
              Payment methods
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/profile?part=change-password" class="menu__change-pass">
              Change Password
            </a>
          </li>

          <li class="menu__item red">
            <a href="" class="menu__sign-out sign-out">
              Sign Out
            </a>
          </li>
        </ul>
      </div>

      <div class="header__menu burger__menu info">
        <div class="info__title">
          <div class="back-btn">
            <svg>
              <use href="#back-arrow"></use>
            </svg>
          </div>

          <p>Information</p>
        </div>

        <ul class="menu menu_info">
          <li class="menu__item">
            <a href="" class="menu__sub-and-billing">
              Subscription Cycle & Billing
            </a>
          </li>

          <li class="menu__item">
            <a href="" class="menu__terms">
              Terms & Conditions
            </a>
          </li>

          <li class="menu__item">
            <a href="" class="menu__pr-policy">
              Privacy Policy
            </a>
          </li>

          <li class="menu__item">
            <a href="" class="menu__shopping">
              Shipping & Delivery
            </a>
          </li>

          <li class="menu__item">
            <a href="" class="menu__return-policy">
              Return Policy
            </a>
          </li>
        </ul>
      </div>

      <div class="header__menu burger__menu shop">
        <div class="shop__title">
          <div class="back-btn">
            <svg>
              <use href="#back-arrow"></use>
            </svg>
          </div>

          <p>Shop</p>
        </div>

        <ul class="menu menu_shop">
          <li class="menu__item">
            <a href="/Vitamin/shop.html" class="menu__all">
              All categories
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Vitamins+%26+Dietary+Supplements" class="menu__vitamins">
              Vitamins & Dietary Supplements
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Weight+Loss" class="menu__weidht">
              Weight Loss
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Minerals" class="menu__minerals">
              Minerals
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Antioxidants" class="menu__antiox">
              Antioxidants
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Probiotics" class="menu__prob">
              Probiotics
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Pain+Relief" class="menu__pain">
              Pain Relief
            </a>
          </li>

          <li class="menu__item">
            <a href="/Vitamin/shop.html?category=Prenatal+Vitamins" class="menu__prenatial">
              Prenatal Vitamins
            </a>
          </li>

          <li class="menu__item red">
            <a href="/Vitamin/shop.html?category=Sale%25" class="menu__sale">
              Sale%
            </a>
          </li>
        </ul>

        <div class="shop__chose chose">
          <p class="chose__title">Don’t know what vitamins your body needs?</p>

          <p class="chose__text">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</p>

          <a href="quiz.html" class="chose__take-quze btn btn_orange">Take the quiz</a>
        </div>
      </div>

      <load ="/src/html/components/auth-pop-up.html" />

    </div>
  </div>

  <div class="cart">
    <div class="cart__bg"></div>

    <div class="cart__container">
      <div class="cart__title">
        <p>Cart</p>

        <div class="cart__close">
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="cart__items"></div>

      <div class="cart__btn">
        <a class="btn btn_orange" href="/Vitamin/create-order.html">
          Check Out <span>•</span> <span id="total-cart-price">$156.58</span>
        </a>
      </div>
    </div>
  </div>

</header>
