<div class="prod-card">
  <div class="prod-card__content">
    <div class="prod-card__img">
      <img src="https://cloudinary.images-iherb.com/image/upload/f_auto,q_auto:eco/images/now/now00375/y/55.jpg" alt="card img"/>
    </div>

    <a class="prod-card__info info" href="#">
      <p class="info__category info__category_green-mint">Vitamins & Dietary Supplements</p>

      <p class="info__name">Ortho Molecular Products Orthomega 820</p>

      <p class="info__price">$61.98</p>
    </a>
  </div>
</div>
