.order-list {
  padding: 40px 40px 35px;
  max-width: 445px;
  border: 1px solid $border-color;
  border-radius: 16px;
  margin-bottom: 63px;
  grid-column: 2 / 3;
  grid-row: 1;

  @include media-breakpoint-down(sm) {
    border: 0 none;
    padding: 0;
    max-width: none;
    width: 100vw;
    position: relative;
    left: 0;
    margin-bottom: 0;
  }

  &__content {
    @include media-breakpoint-down(sm) {
      padding: 30px 20px;
      background-color: $cardBackground;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        height: 2px;
        background-color: $lineBackground;
      }
    }
  }

  &__prods {
    padding-bottom: 40px;
    position: relative;

    &-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 340px;
      overflow: auto;
      position: relative;

      @include media-breakpoint-down(sm) {
        gap: 15px;
      }
    }

    @include media-breakpoint-down(sm) {
      gap: 15px;
      padding-bottom: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $lineBackground;
    }
  }

  .prod {
    display: flex;
    align-items: center;
    gap: 20px;

    &__img {
      border-radius: 8px;
      padding: 5px;
      max-width: 70px;
      width: 100%;
      height: 70px;

      &_purple {
        background-color: $purpleBg;
      }

      &_green-mint {
        background-color: $greenMintBg;
      }

      &_pink {
        background-color: $pinkBg;
      }

      &_blue {
        background-color: $blueBg;
      }

      &_orange {
        background-color: $orangeBg;
      }

      &_dark-blue {
        background-color: $darkBlueBg;
      }

      &_red {
        background-color: $redBg;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__count-and-name {
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.8px;
    }

    &__price {
      font-size: 16px;
      font-family: OpenSans;
      font-weight: 400;
      margin-left: auto;

      &_sale {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2px;
        color: $redText;

        span {
          position: relative;
          height: fit-content;
          width: fit-content;
          color: $fontColorTitleBlack;
          font-size: 12px;
          opacity: 0.5;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 1px;
            background-color: $fontColorTitleBlack;
          }
        }
      }
    }
  }

  &__total {
    margin-top: 40px;

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }

  &__subtotal, &__shopping, &__discount {
    font-size: clamp(14px, 2.5vw, 17px);
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    span{
      &.red{
        color: $redText;
      }
    }
  }

  &__todays-total {
    font-size: clamp(16px, 2.5vw, 22px);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
  }

  .accordion {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    background-color: $cardBackground;

    @include media-breakpoint-down(sm) {
      display: flex;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__bag-svg {
      width: 32px;
      height: 32px;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &__down-arrow {
      width: 15px;
      height: 15px;
      transition: rotate 0.3s ease-in-out;

      svg {
        height: 100%;
        width: 100%;
        rotate: 90deg;
      }
    }

    &-content {
      @include media-breakpoint-down(sm) {
        opacity: 0;
        max-height: 0;
        padding: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out, visibility 0.3s ease-in-out, padding 0.3s ease-in-out;
      }

      &_active {
        opacity: 1;
        visibility: visible;
        max-height: 100%;
        padding: 30px 20px;
      }
    }

    &_active {
      .accordion__down-arrow{
        rotate: -180deg;
      }
    }
  }

  &__btn{
    margin-top: 39px;
    font-size: 20px;
    width: 100%;
    padding: 22px 29px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}