.custom-select {
  position: relative;
  width: 206px;
  font-family: OpenSans, sans-serif;

  .select-selected {
    background: $cardBackground;
    padding: 18px 24px;
    cursor: pointer;
    user-select: none;
    border-radius: 12px;

    &:after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z' fill='black' /%3E%3C/svg%3E");
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 10px;
    }

    &:hover {
      border-color: $border-color;
    }
  }

  .select-items {
    position: absolute;
    background-color: $background;
    border: 1px solid $border-color;
    border-radius: 4px;
    width: 100%;
    z-index: 99;
    margin-top: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    div {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: $cardBackground;
      }
    }
  }

  .select-hide {
    display: none;
  }
}