.payment-methods {
@include media-breakpoint-down(xs) {
  padding-top: 12px;
}
  &__title {
    font-family: Effra, sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: $font-color-black;
    margin-bottom: 40px;

    @include media-breakpoint-down(xs) {
      font-size: 24px;
      margin-bottom: 36px;
    }
  }

  &__message {
    font-size: 16px;
    color: $font-color-white;
    padding: 17px 70px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 999999;
    background: green;
    text-align: center;
    border-radius: 12px;
    opacity: 1;
    pointer-events: none;

    svg {
      width: 20px;
      height: 14px;
      margin-right: 20px;
    }

    &.hidden {
      opacity: 0;
    }
  }
}

.card-front {
  max-width: 490px;
  background: $cardBackground;
  padding: 50px 40px 40px 40px;
  border-radius: 16px;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(md) {
    padding: 0;
    background: transparent;
  }

  &__input-wrapper {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 29px;
    }
  }

  &__label {
    font-family: OpenSans, sans-serif;
    display: block;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 8px;


  }

  &__input {
    font-weight: 400;
    font-size: 18px;
    padding: 17px 24px;
    width: 100%;
    line-height: 1.2;
    border-radius: 12px;
    background: $cardBackground;

    &_date {
      width: 104px;
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: right;
    margin: 10px 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.cards {
  position: relative;

  &__submit {
    margin-top: 88px;
    width: 154px;
    background: $orangeMain;



    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
      &:not(.no-effect) {
        width: 100%;
        margin-top: 5px;
      }
    }

    &_disabled {
      background: $disabled-btn;
    }
  }

  .just-validate-error-label {
    top: 75px;
  }
}

.card-back {
  position: absolute;
  bottom: 82px;
  left: 184px;
  border-radius: 16px;
  width: 490px;
  height: 288px;
  background: $cardBackground;
  z-index: 0;

  @include media-breakpoint-down(lg) {
    left: 158px;
  }

  @include media-breakpoint-down(md) {
    height: 81px;
    width: 131px;
    background: transparent;
    bottom: 75px;
  }

  @include media-breakpoint-down(xs) {
    left: 188px;
    bottom: 67px;
  }

  &__magnetic-stripe {
    width: 100%;
    height: 63px;
    background: $cardBackground;
    margin-top: 40px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__input-wrapper {
    position: absolute;
    bottom: 48px;
    right: 40px;
  }

  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__input {
    font-weight: 400;
    font-size: 18px;
    padding: 17px 24px;
    width: 104px;
    line-height: 1.2;
    border-radius: 12px;

    @include media-breakpoint-down(md) {
      background: $cardBackground;
    }
  }
}