$maxWidth: 1920px;
$minWidth: 320px;
$containerWidth: 1426px;
$headerContainerWidth: 1765px;

$md1: 1650;
$md2: 1420;
$md3: 1024;
$md4: 768;
$md5: 576;
$md6: 375;

$background: #ffffff;
$fontColorTitleBlack: #000000;
$fontColorTitleWjite: #ffffff;
$fontColorSpan: #ed815e;
$fontColorText: #808080;
$orangeMain: #ff7d4e;
$orangeLink: #ed815e;
$orangeLink-hover: #f6b099;
$redText: #d32d2c;
$btnBackground: #6e5ddc;
$purpleBgBaner: #8172dd;
$blueBgBaner: #5f9dca;
$blackBg: #0000;
$orange-circle: #FFCA78;

$cardBackground: #faf8f6;
$border-color: #e6e6e6;
$font-color-white: #ffffff;
$font-color-black: #000000;
$disabled-btn: #c3bdb6;
$lineBackground: #f2f2f2;
$grayPlusMinusBtns: #F5F5F5;

$purple: #6b5ebb;
$greenMint: #6bb0a4;
$pink: #9448a0;
$blue: #5f9dca;
$orange: #e29964;
$darkBlue: #5e73bb;
$red: #e5463b;

$purpleBg: #9c91e0;
$greenMintBg: #94d6be;
$pinkBg: #da91e0;
$blueBg: #91caf2;
$orangeBg: #f2b385;
$darkBlueBg: #a5b3ff;
$redBg: #e8939d;


$darkGrey: #333;
$lightGrey: #666;